.idea
nbproject
.buildpath
.project
.settings
Thumbs.db
composer.phar
composer.json
composer.lock
.DS_Store
phpunit.phar


/dump

/models

/dump1

/phpunit.xml
tests/_output/*
tests/_support/_generated
/vendor
/.vagrant
/files/images
/files/prices

/frontend/web/_js
/frontend/web/_css

/frontend/web/no_assets
/frontend/web/no_js
/frontend/web/no_css
/frontend/web/no_images
/frontend/web/no_fonts
/frontend/web/assets
/backend/web/assets
/backend/runtime
/console/runtime
/frontend/runtime