.message-popup {
	max-width: 580px;
	position: fixed;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: #fff;
	padding: 10px;
	text-align: center;
	z-index: 10;
	border-radius: 10px;
	box-shadow: 0 0 20px 8px rgba(11, 132, 205, 0.45);
}

.message-popup p {
	font-size: 1.3rem;
}

.message-popup__close {
	position: absolute;
	top: 5px;
	right: 5px;
}

.message-popup:focus {
	outline: none;
}

.pagination {
	list-style: none;
	display: flex;
	justify-content: center;
}

.pagination li {
	margin: 0 5px;
	font-size: 20px;
}

.pagination .active a {
	color: #85ba5d;
}

.pagination a {
	text-decoration: none;
}

.licensies p{
	line-height: 25px;
	font-size: 18px;
}

@media (min-width: 1000px) {
	.licensies p {
		font-size: 20px;
	}
}